<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<br><br>

<div style="width:150px;height:150px;margin:auto;">
  <%= image_tag attachments['appicon.png'].url, width: 150, height: 150 %>
</div>

<br><br>

<div style="margin-left:2%;margin-right:2%;background-color:#FAFAFA;padding:10px;">

  <p style="font-size:18px;width:100%;text-align:center;corner-radius:3px;">
    Thank you for joining Cureto, @<%= @customer.username %>. Please verify your email:
    <br><br><br>
    <a href="<%= confirm_email_url(@customer.confirm_token) %>" style="padding:10px;font-size:18px;width:250px;height:45px;text-align:center;text-decoration:none;color:#ffffff;background-color:#444444;corner-radius:3px;">
      Verify email
    </a>
  </p>
  <br>
  <br>

  <br>

</div>

</body>
</html>