<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'main' %>
  <title>Password Reset</title>
</head>
<body>
  <div class="text">
    <div id="appicon"><img id="appicon" src="<%= image_path('appicon.png') %>" alt="Cureto" width="100%" height="auto"></div>

    <p class="separator">
      Enter new password <br>

      <form accept-charset="UTF-8" action="/password_reset" method="post" class="general_form">
        <%= hidden_field_tag(:password_token, @token) %>
        <input id="password" name="password" type="password" class="form_field" /> <br><br>
        <input name="commit" type="submit" value="Submit" class="submit_button" />
      </form>

    </p>

    <br><br><br><br>

  </div>
</body>
</html>