html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #fafafa;
}

#appicon {
  width: 200px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text {
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
}

.separator {
  color: #555555;
  font-size: 20px;
  width: 90%;
  margin: auto;
  text-align: center;
}

.main_header {
  color: #2f2f2f;
  font-size: 36px;
  width: 90%;
  margin: auto;
  text-align: center;
}

.section_header {
  color: #2f2f2f;
  font-size: 32px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

.section_sub_header {
  color: #979797;
  font-size: 28px;
  margin-top: 45px;
  margin-bottom: -5px;
}

.section_text {
  font-size: 19px;
  line-height: 150%;
}

.general_form {
    width: 250px;
    margin: auto;
    text-align: center;
}

.form_field {
    width: 200px;
    height: 30px;
    font-size: 16px;
}

.submit_button {
    width: 100px;
    height: 25px;
    font-size: 16px;
}